// Holler Form
  
.holler-signup {
  display: block;
}
div.holler-signup-wrapper {
  display: flex !important;
  flex-wrap: wrap;
  align-items: flex-end;
}

.holler-signup-wrapper > * {
  flex: 1;
  
}

.holler-signup-form-group {
  flex-basis: 300px;
}

.holler-signup-form-group label {
  
}

.holler-signup-submit {
  flex-basis: 100px;
}
.holler-form-input {
  width: 100%;
  padding: 8px 20px !important;
  font-size: 1rem !important;
  color: #666;
  height: auto;
  border : 1px solid #eaeaea;
  margin-top: 10px;
  border-radius: 5px;
 
  background: #fafafa;     
  box-shadow: none;
  transition: all .2s linear;
}
.holler-btn-submit {
  width: 100%;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
  color: white !important;
  text-transform: uppercase;
  background-color:  #e53e30;
  border: 1px solid #e53e30;
}
.holler-btn-submit:hover {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

.msg {
  color: #fff;
}


/* desktop */
 
@media ( min-width: 768px ) { 
  .holler-form-input {
    border-radius: 5px 0px 0px 5px;
    margin-top: 0px;
  }
  .holler-btn-submit {
    border-radius: 0px 5px 5px 0px;
    margin-top: 0px;
  }
}
 